@tailwind base;
@tailwind components;
@tailwind utilities;

li {
    font-weight: 700;
}

/* TYPOGRAPHY */
h1 {
    @apply text-[42px] font-bold
}

h2 {
    @apply text-[24px] font-semibold
}

h3 {
    @apply text-[20px] font-medium
}

h4 {
    @apply text-[18px] font-medium

}

p {
    @apply text-base font-normal
}

input {
    @apply focus:outline-none
}


.paddingvr {
    @apply p-[24px] lg:py-[50px] lg:px-[160px] 
}

/* TOP BAR */

.menu {
    @apply md:flex flex-col hidden md:flex-row md:justify-between md:items-center;
}

.menu .menu__item {
    @apply hover:text-[#FFE714] relative text-lg;
}

.menu .dropdown__menu {
    @apply hidden absolute left-0 top-full bg-white p-2  flex-col gap-2;
}

.menu .menu__item:hover .dropdown__menu {
    @apply block;
}

.dropdown__menu .dropdown__item {
    @apply text-base text-[#044721] p-1
}

.dropdown__menu .dropdown__item:hover {
    @apply bg-[#044721] bg-opacity-25
}

.hero-section {
    background-image: url('../public/images/prrc-building.jpeg');
    background-size: cover;
    background-position: center;
}


/* TABLE  */

.program-table {
    @apply w-full 
}

.program-table tbody {
    @apply  w-full flex flex-col
}

.program-table tbody .course { 
    @apply w-full flex justify-between items-center
}

.program-table th, .program-table td {
    @apply border p-2 w-full text-center
}

.row {
    @apply border-b-2  flex items-center justify-between  p-3
}

.data {
    @apply flex  justify-center w-full
}


/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.enrollment__block {
    @apply w-full flex justify-between gap-4
}


.enrollment__input {
    @apply p-2 w-full rounded-md shadow-md
}